@use 'sass:list';

$breakpoints: (
  xs: 25em,
  s: 40em,
  m: 60em,
  l: 64em,
  xl: 75em,
);

// TODO
//
// this one works, because the file is copied to this repo. circumvents the problem, but doesn't fix it:
// @forward 'include-media' with (
//
// unfortunately, the following is not working, either (immediate plugin:vite:css error in the browser / IDE):
// @forward '~include-media/dist/include-media' with (
//
// this works in the browser / IDE, and it's written like this in the normally imported file, too. Breaks on build:
@forward 'include-media/dist/include-media' with (
  $breakpoints: $breakpoints
);

///
/// Generates a JSON string with each breakpoint's value
///
/// @return {String} - Resulting JSON string
///
/// @example json
///  '{"phone": "320px", "tablet": "768px", "desktop": "1024px"}'
///
@function breakpoints-to-json() {
  $breakpoints-json: ();

  @each $name, $value in $breakpoints {
    $breakpoint: '\\"#{$name}\\":\\"#{$value}\\"';
    $breakpoints-json: list.append($breakpoints-json, $breakpoint, 'comma');
  }

  @return '{#{$breakpoints-json}}';
}
