// TODO this should use the imports from @kickstartDS and include-media again
@use 'section-tokens';
@use 'breakpoints';

.l-section {
  position: relative;

  &--slider {
    overflow: auto;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: red; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &__arrows {
      display: flex;
      gap: var(--spacing-s);
      justify-content: center;
      margin-top: var(--spacing-m);

      .c-button--slider-arrow {
        padding: var(--spacing-xs);
      }
    }

    img {
      pointer-events: none;
    }

    &__slide {
      transition-duration: var(--g-transition-duration-s);
      transition-property: opacity, transform;
      min-width: calc(85% - var(--g-content-padding));
      padding-right: var(--l-section_container--gutter);

      @include breakpoints.media('>s') {
        min-width: calc(var(--l-section_col--min-width) * 0.6);
      }

      .c-teaser {
        transform: perspective(60rem) rotateX(3deg) rotateY(10deg);
      }

      &:nth-child(2) {
        transition-delay: var(--g-transition-delay-s);

        .c-teaser {
          transform: perspective(100rem) rotateX(0deg) rotateY(-8deg);
        }
      }

      &:nth-child(3) {
        transition-delay: calc(var(--g-transition-delay-s) * 2);
        .c-teaser {
          transform: perspective(100rem) rotateX(-5deg) rotateY(6deg);
        }
      }

      &:nth-child(4) {
        transition-delay: calc(var(--g-transition-delay-s) * 3);
        .c-teaser {
          transform: perspective(100rem) rotateX(-2deg) rotateY(-6deg);
        }
      }

      &:nth-child(5) {
        transition-delay: calc(var(--g-transition-delay-s) * 4);
        .c-teaser {
          transform: perspective(100rem) rotateX(-5deg) rotateY(5deg);
        }
      }

      &:nth-child(6) {
        transition-delay: calc(var(--g-transition-delay-s) * 5);
        .c-teaser {
          transform: perspective(60rem) rotateX(3deg) rotateY(-10deg);
        }
      }

      &:nth-child(even) > * {
        transform: translateY(var(--spacing-xl));
      }
    }
  }

  &__container--slider {
    padding-top: var(--spacing-s);
    overflow: visible;
    display: flex;
    margin-bottom: var(--spacing-xl);
    grid-gap: 0;
  }
}
